@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$pink-color: #f67575;
$secundary-color: #d4f8e8;
$other-color: #727272;
$orange-color: #ffa34d;
$purple-color: #490597;
$background-color: #1eb2a6;
$letter-color: white;
$white-color: #FFFFFF;

